body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
p {
  color: gray;
  text-align: justify;
}
.orange-color {
  color: orange;
}
section {
  height: 100vh;
}
.flex-op {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  margin: 0 auto;
}
.half-width img {
  width: 80%;
}
.hire-btn {
  text-decoration: none;
  background-image: linear-gradient(red, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.font-cntrl {
  font-size: 40px;
}
.flex-op h3 {
  color: tomato;
}
.experience .half-width {
  box-shadow: gray 10px 10px 40px;
  width: 40%;
  margin: 0 auto;
  padding-left: 20px;
  padding-bottom: 80px;
}
.new-border-1 {
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
  transition: 0.3s all;
}
.new-border-1:hover {
  /* extra */
  transform: scale(1.03);
}
.new-border-2 {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
  transition: 0.3s all;
}
.new-border-2:hover {
  /* extra */
  transform: scale(1.03);
}
footer p {
  text-align: center;
}
